#contenedor-titulo-nosotros{
    width: 100%;
    height: auto;
    padding: 1rem 0;
    background-color: #6a2f20;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    color: white;
    letter-spacing: .1em;
    text-align: center;
    text-shadow: 2px 2px 4px #cbbeae;
}

#contenedor-nosotros{
    width: 100%;
    height: auto;
    padding: 1.25px 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

#contenedor-nosotros section{ 
    width: 80%; 
    padding: 25px 20px;
    margin: 20px auto; 
    background-color: white; 
    border-radius: 8px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    text-align: center;
}

section :nth-child(3), section :nth-child(7){
    text-align: justify;
}

section div:first-of-type{
    width: 100%;
    height: auto;
}

section div:first-of-type img{
    width: 500px;
    height: auto; 
    margin: 20px 0; 
    border-radius: 5px; 
}

@media (max-width: 992px){
    section div:first-of-type img{
        width: 300px;
    }
}
